<!DOCTYPE HTML>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} | Otávio Secco</title>
		<meta name="description" content="{{ page.description }}">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
		<link rel="stylesheet" href="{{ '/css/project.css' | relative_url }}">
	</head>
	<body>
		<main class="project-page">
			<a class="back-link" href="{{ '/' | relative_url }}">&larr; Voltar ao portfólio</a>
			<article class="project-content">
				{{ content }}
			</article>
			<section class="project-gallery" aria-labelledby="gallery-title">
				<h2 id="gallery-title">Galeria</h2>
				<div class="gallery-grid">
					{% assign images_path = page.url | append: 'imgs/' %}
					{% for image in site.static_files %}
						{% if image.path contains images_path %}
							<figure>
								<img src="{{ image.path | relative_url }}" alt="Imagem do projeto {{ page.title }}" loading="lazy">
							</figure>
						{% endif %}
					{% endfor %}
				</div>
			</section>
		</main>
	</body>
</html>
